<div class="contents row">
  <%= form_with(model: @log, url:"/logs/#{@log.id}" ,local: true) do |form| %>
    <h5 class="page_title">
      編集ページ
    </h5>

 <div class="col s6 offset-s3">
      <div class="card #ef9a9a red lighten-3">
        <div class="card-content white-text">
          <span class="card-title "><%= form.text_field :date, placeholder: "日付" %></span>
          <span class="card-title "><%= form.text_field :title, placeholder: "タイトル" %></span>
          <span class="card-title"><%= form.text_area :logs, placeholder: "業務内容" %></span>
          <p><%= form.text_area :problem, placeholder: "現在の具体的な課題" , rows: "10" %></p> 
        </div>
       
      </div>
 
    <div class="submit">
    <input type="submit" value="更新する">
    </div>
 </div>
  <% end %>
</div>


